<p id="notice"><%= notice %></p>
<div class = "jumbotron">
	<div class = "page-header">
		<h1>
			<%= @user.name %>
			<small>
				<%= @user.mail %>
			</small>
		</h1>
	</div>
	<div class="panel panel-default">
		<div class="panel-heading">
			<h3 class="panel-title">Información</h3>
		</div>
		<div class="panel-body">
			Tu información personal
		</div>
	</div>

	<%= link_to 'Edit', edit_user_path(@user), class: "btn btn-primary" %>

</div>
<div class="container">
	<div class="row">
		<% @user.mashups.each do |m| %>
			<%=  render 'mashups/grid', mu: m %>
		<% end %>
	</div>
</div>