<p id="notice"><%= notice %></p>
<div class = "jumbotron">
	<div class = "page-header row">
		<div class="col-md-2">
			<%= image_tag("user.png", alt: "profile picture", class: "profile-pic") %>
		</div>

		<div class="col-md-10">
			<h1>
				<%= @user.name %>
				<small>
					<%= @user.mail %>
				</small>
			</h1>
		</div>
	</div>
	<div class="panel panel-default">
		<div class="panel-heading">
			<h3 class="panel-title">Personal information</h3>
		</div>
		<div class="panel-body">
			Tu información personal
		</div>
	</div>

	<%= link_to 'Edit', edit_user_path(@user), class: "btn btn-primary" %>

</div>
<div class="container">
	<div class="row">
		<% @user.mashups.each do |m| %>
			<div class="col-sm-6 col-md-4 col-lg-2">
				<%=  render 'mashups/grid', mu: m %>
			</div>
		<% end %>
	</div>
</div>
