<p id="notice"><%= notice %></p>
<input id="mashup_id" type="hidden" value="<%= @mashup.id %>" />
<div class="panel panel-default">
  <div class="panel-heading">
    <div class="row">
      	<div class="col-lg-2">
	      <%if current_user && @mashup.id == current_user.mashup_id %>
	  	    <div class="input-group form-inline">
	  			<button type="button" class="btn btn-success btn-lg" data-toggle="modal" data-target="#myModal">
				  Save Mashup...
				</button>

				<!-- Modal -->
				<%= form_tag(mashups_path, method: 'post') do %>  	  
				<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
				  <div class="modal-dialog">
				    <div class="modal-content">
				      <div class="modal-header">
				        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
				        <h4 class="modal-title" id="myModalLabel">Grabar Nuevo Mashup</h4>
				      </div>
				      <div class="modal-body">
				    	<%= text_field_tag 'mashup[name]', @mashup.name, placeholder: "Enter Title", class: "form-control" %>    
				    	<br>
				      </div>
				      <div class="modal-footer">
				        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
				        <button class="btn btn-success" type="submit">Save</button>
				      </div>
				    </div>
				  </div>
				</div>
				<% end -%>	  	 

 	  	    </div>
	  	  <% else %>
	  	    <h4><%= @mashup.name %></h4>
	  	  <% end %>
	    </div>

		  <div class="col-lg-10">
		    <div class="input-group form-inline">
		      <input id="mashup_count" type="hidden" value="<%= @mashup.parameters.count %>" />
		      <input id="mashup_parameters_list" type="hidden" value="<%= @mashup.parameters.join(",") %>" />
		      <span id="mashup_list" class="input-group-btn">
				<%= render 'mashups/params_list', mashup: @mashup %>
		      </span>
		      <input id="query_text" type="text" name="mashup[new_param]" class="form-control">
		      <span class="input-group-btn">
	          	<button id="search_btn" class="btn btn-default" type="submit">Search</button>
		      </span>
		    </div><!-- /input-group -->

		    <div id = "sources">		    	
		    	<%= collection_check_boxes(nil, :source_ids, @sources, :name, :name) do |b|%>
              		<div class = "sources_source">
              			<%=  b.label(:"data-value" => b.value) { b.check_box + b.text } %>
              		</div>
            	<% end %>		    	
		    </div>
		    
		  </div><!-- /.col-lg-6 -->
	</div><!-- /.row -->
  </div>

  <div class="panel-body" id="cloud_tag_container">
  </div>
</div>
