<p id="notice"><%= notice %></p>
<div class="panel panel-default">
  <div class="panel-heading">
    <div class="row">
	  <div class="col-lg-2">
	  	<h4><%= @mashup.name %></h4>
	  </div>
        <%= form_tag(mashup_path(@mashup.id),method: 'patch') do %>
		  <div class="col-lg-10">
		    <div class="input-group form-inline">
		      <span class="input-group-btn">

		      	<% count = 0 %>
			    <% @mashup.parameters.each do |p| %>

		    	  <% count += 1 %>
		    	  <% if count < 6 %>
		          	<%= link_to p, mashup_path(@mashup.id), class: "btn btn-default", type: "button" %>
		          <% else %>

		          	<% if count == 6 %>
		          		<button class="btn btn-default" type="button" data-toggle="dropdown">
		          			...<span class="caret"></span>
		          		</button>
			        	<ul class="dropdown-menu" role="menu">
			        <% end %>

			          <li><a href="#"><%= p %></a></li>

			        <% if count == @mashup.parameters.count %>
			        	</ul>
			        <% end %>

	          	  <% end %>
			  	<% end %>
		      </span>
		      <input type="text" name="mashup[new_param]" class="form-control">
		      <span class="input-group-btn">
	          	<button class="btn btn-default" type="submit">Search</button>
		      </span>
		    </div><!-- /input-group -->
		  </div><!-- /.col-lg-6 -->
      <% end %>
	</div><!-- /.row -->
  </div>
  <div class="panel-body">
    <div class="row well">
		<% @mashup.keywords.each do |kw|%>
			<span class=<%= "keyword-"+kw.value.to_s %>><%= link_to kw.keyword, '#' %></span>
		<% end %>
    </div>
    <div class="row well">
      <% for i in 1..4 %>
      	<div class="col-lg-3">
	      <% @mashup.links.each do |link| %>
	      	<% if link.link_source_id == i then %>
	    		<%= render 'links/show' , link: link %>
	    	<% end %>
		  <% end %>
		</div>
	  <% end %>
    </div>
  </div>
</div>
